@charset "utf-8";
@import url("reset.css");

/********** base **********/

* {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", IPAPGothic, sans-serif;
}

.clear {
    clear: both;
}

body {
    font-size: 80%;
    text-align: center;
    background-color: #ffffff;
}

#wrap {
    margin: 10px auto;
    width: 800px;
}

a:link { color: #333333; }
a:visited { color: #333333; }
a:hover { color: #333333; }
a:active { color: #333333; }

/********** header **********/
header {
  display: block;
  margin: 0 auto;
  height: 3em;
}

header h1 {
    cursor: pointer;
    font-size: 2em;
    float: left;
    margin: 0px 0px 5px 0px;
}

#logout {
  float: right;
  padding: 1em;
}

/********** menu **********/
#mainmenu {
  margin: 0px auto;
  width: 98%;
  height: 1.7em;
  border: 1px #bbbbbb solid;
  background-color: #eeeeee;
  border-radius: 8px;
}

#mainmenu ul {
  margin: 0px 0px 0px 10px;
  text-align: left;
}

#mainmenu ul li {
  display: inline;
  line-height: 1.7em;
  margin: 0px 3px;
}

/********** content **********/
#content {
    float: left;
    width: 95%;
    margin: 10px 0px 10px 10px;
    text-align: left;
}

#content h2 {
    text-align: left;
    color: #333333;
    font-weight: bold;
    letter-spacing: 0.4em;
    padding: 2px;
}

#loginButton {
  border: 1px #333333 solid;
  width: 130px;
  height: 70px;
  text-align: center;
}

#loginButton a {
  display: block;
  line-height: 70px;
  width: 100%;
  font-size: 1.2em;
  text-decoration: none;
}

#loginButton a:hover  { background-color: #eeeeee; }
#loginButton a:active { background-color: #dddddd; line-height: 71px;}

#content p {
    margin: 5px 0px;
}

.arranging {
    display: none;
}

#content ul {
    margin: 10px;
}

#content ul li {
    margin: 5px 0px 5px 2px;
}

#content ul li.plain {
  list-style-type: none;
}

ul#finished {
  margin: 40px 0px 0px 0px;
  color: #aaaaaa;
}

ul#finished a:link { color: #999999; }
ul#finished a:visited { color: #999999; }
ul#finished a:hover { color: #999999; }
ul#finished a:active { color: #999999; }

/********** footer **********/
footer {
    margin: 0 auto;
}
